@import 'variables';

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background: rgba($l-navbar, 1);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
    border: 2px solid rgba($l-navbar, 0);
    width: 800px;
    margin-bottom: 10px;
    &:hover{
        border: 2px solid $blue;
    }
}

textarea{
    background: rgba($l-navbar, 1);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
    border: 2px solid rgba($l-navbar, 0);
    width: 800px;
    height: 200px;
    resize: vertical;
    &:hover{
        border: 2px solid $blue;
    }
}

button{
    background: $blue;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    font-size: $subtitle;
    color: white;
    transition: 0.2s ease;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;

    &:hover{
        background: $blue2;
    }

    svg{
        height: 100%;
        polyline{
            height: 100%;
            stroke: white;
            fill: none;
            stroke-width: 3px;
            transform: scale(1.07);
        }
    }
}


.link{
    border: 3px solid $blue;
    border-radius: 12px;
    padding: 6px;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    font-size: $subtitle;
    color: lighten($blue, 10%);
    transition: 0.2s ease;
    margin: auto;
    margin-top: 20px;

    &:hover{
        border: 3px solid $blue2;
        color: $blue;
    }

    svg{
        height: 100%;
        polyline{
            height: 100%;
            stroke: white;
            fill: none;
            stroke-width: 3px;
            transform: scale(1.07);
        }
    }
}

.text{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.subtext{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 50px;
}